.footer {
    padding: 100px 150px;

    display: flex;
    justify-content: space-between;

    background: rgba(0, 0, 0, 0.1);
}

.footer__basic-info {
    display: flex;
    align-items: flex-start;
}

.main-logo {
    margin: 0 50px 0 0;
    line-height: 0.9em;
}

.footer__adresses-list {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.footer__adress-link {
    color: var(--white);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    background-color: rgba(255, 255, 255, 0);

    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.5s, background-color 0.5s;
}

.footer__adress-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 1);
}

.footer__social-media-links-list {
    display: flex;
    gap: 15px;
}

.footer__social-media-icon {
    width: 36px;
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    .footer {
        padding: 80px 70px;
    }
}