.lection-block {
    padding: 120px 150px;
}

.lection-bclock__presentation-container {
    display: flex;
    justify-content: space-evenly;
}

.lection-block__link-container {
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}

.lection-block__link-container:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.lection-block__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.075em;
    color: rgba(255, 255, 255, 0.2);
    transition: color 0.5s;
}

.lection-block__link:hover {
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    .lection-block {
        padding: 90px 70px;
    }

    iframe {
        width: 896px;
        height: 428px;
    }
}