/* COMMON */
.wrapper {
    background-color: var(--main);
}

.container {
    margin: 0 auto;
}

:root {
    --white: #fff;
    --black: #000;
    --main: #25274D;
    --grey: #aaabb8;
    --accent: #29648A;
    --palepurple: #464866;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: var(--main);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--palepurple);
    outline: 1px solid var(--palepurple);
}

.navigation__company-logo {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.035em;
}

.navigation__logo-part-one {
    color: #0057B8;
}

.navigation__logo-part-two {
    color: #FFD700;
}

.navigation__company-logo {
    color: var(--white);
}

.navigation__contact-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.075em;
    color: var(--white);

    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.5s;
}

.navigation__contact-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 1);
}

.navigation {
    height: 80px;
    padding: 0 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(0, 0, 0, 0.1);
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);
}

/* COMMON ends */

/* HERO section */
.hero {
    height: 100vh;
    background: url(../img/hero-bg.png) no-repeat;
    background-size: cover;
}

.hero__text {
    height: 91.5vh;

    display: flex;
    align-items: center;
}

.hero__quote-container {
    width: 1250px;
    margin-left: 150px;
}

.hero__quote {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 96px;
    line-height: 150%;
    letter-spacing: 0.075em;

    color: var(--white);
}

/* HERO Section ends */

/* LECTIONS */

.lections-block {
    padding: 120px 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

}

.lections-block__lection-tile {
    width: 500px;
    height: 400px;

    border: 1px solid var(--palepurple);

}

.lections-block__lection-tile:hover {
    border: 1px solid var(--main);
    transition: border 0.5s;
}

.lections-block__lection-link {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.5s, background-color 0.5s;
}

.lections-block__lection-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
}

.lections-block__lection-ico {
    width: 96px;

    margin-bottom: 20px;
}

.lections-block__lection-name {
    color: var(--white);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

/* LECTIONS ends */

/* FOOTER */

.footer {
    padding: 100px 150px;

    display: flex;
    justify-content: space-between;

    background: rgba(0, 0, 0, 0.1);
    mix-blend-mode: normal;
    backdrop-filter: blur(10px);

}

.footer__basic-info {
    display: flex;
    align-items: flex-start;
}

.main-logo {
    margin: 0 50px 0 0;
    line-height: 0.9em;
}

.footer__adresses-list {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.footer__adress-link {
    color: var(--white);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    background-color: rgba(255, 255, 255, 0);
    text-decoration: underline rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.5s, background-color 0.5s;
}

.footer__adress-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 1);
}

.footer__social-media-links-list {
    display: flex;
    gap: 15px;
}

.footer__social-media-icon {
    width: 36px;
}